.main-content {
  position: relative;
  width: 100%;
  min-height:85vh;
}

.background-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('https://as2.ftcdn.net/v2/jpg/04/34/13/23/1000_F_434132339_kLlZju6txK6aMP2Zlwoy7vuK2Srgd01D.jpg');
  background-attachment:scroll;
  background-size: cover;
  background-position: center;
  min-height:600px;
  opacity: 0.82;
}

.content-container {
  background-color:#4d0d91;
  padding: 20px;
  margin-right: 20px;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  margin-left: 800px;
  border-radius: 12px;
  max-width:400px;
  opacity: 1;
}

.text {
  text-align: justify;
}

.text h1 {
  font-size: 36px;
}

.text button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px;
  opacity: 1;
  font-weight: bolder;
  background-color: #fc9d05;
}
.text button:hover{
  background-color:#db8700;
}

